<template name="sidenav">

    {{#if picture}}
    <div style="text-align:center;">
      <img src="{{treeURL picture}}" style="width:100%; max-height:400px; margin-top:-22px;">
    </div>
    {{/if}}
    <div class="side-header">
      <h3 class="no-margin">{{species}}</h3>
      <p class="no-margin">{{treeCount species}} tree(s) of this type</p>
    </div>
    <div class="side-nav">
        <b>Latitude: </b>{{lat}}<br>
        <b>Longitude: </b> {{lng}}<br>
        <b>Diameter: </b> {{diameter}}<br>
        <b>Est. Height: </b> {{height}}<br>
        <br><b>Notes</b><br>
        {{notes}}<br>
        {{#if canReview}}
            <button id="edit" treeId="{{_id}}" class="btn btn-primary" style="width:100%;margin-top:15px;">Edit Tree</button>
            {{#if approved}}
                <button id="remove" treeId="{{_id}}" class="btn btn-primary" style="width:100%;margin-top:15px;">Remove Tree</button>
            {{else}}
                <div class="btn-group" style="width: 100%; padding:0px;">
                <button id="approve" treeId="{{_id}}" class="btn btn-success" style="margin-top:15px;width:50%;">Approve</button>
                <button id="deny" treeId="{{_id}}" class="btn btn-danger" style="margin-top:15px;width:50%;">Deny</button>
                </div>
            {{/if}}
        {{else}}
            {{#if ownPending approved}}
                <br><p style="font-weight: bold;">Your Tree is currently under review, please check back later!</p><br>
            {{/if}}
        {{/if}}
    </div>

</template>
